.list-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__buttons {
        display: flex;
        &>* {
            margin: 5px;
        }
    }
    &__tasks {
        display: flex;
        flex-direction: column;
    &__name {
            font-weight: bold;
    &__status {
                color: gray;
                font-size: 80%;
                font-style: italic;
            }
        }
    }
}

.make-inline {
    display:flex;
    justify-content: space-between;
    align-items: center;
    &.column {
        flex-direction: column;
        height: 37px;
        justify-content: center;
    }
    select, label, input {
        margin: 0 12px;
    }
    input {
        margin-top: 12px;
    }
    &.form-group {
        margin-bottom: 0;
    }
}
